@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
    font-family: 'Nunito Extrabold';
    src: url(nunito.extrabold.ttf);
}

@font-face {
    font-family: 'Nunito Black';
    src: url(nunito.black.ttf);
}

:root{
    font-size: min(13px, 3vw);
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #2D2D2A;
    color: #CDE7BE;
    margin: 0;
}

header{
    font-family: 'Nunito Extrabold', 'Nunito', sans-serif;
    display: grid;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    padding: 1em;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: space-evenly;
}

header > .logo{
    text-align: left;
}

.logo > h1{
    margin: 0;
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Nunito Black', 'Nunito', sans-serif;
    letter-spacing: 0.1ch;
}

header .turn-info{
    width: min(100%, 10ch);
    padding: 0.3em;
    border-radius: 0.5em;
    margin: auto;
    font-size: 1.8rem;
    font-family: 'Nunito Extrabold', 'Nunito', sans-serif;
    text-align: center;
    background-color: #353831;
}

header > .action-button{
    text-align: right;
}

.action-button > button{
    text-align: center;
    font-size: 2.4rem;
    width: 2.2ch;
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: inherit;
    font-weight: bold;
    background-color: #353831;
    border-radius: 0.3em;
}

.action-button > #menuButton{
    margin-left: 0.2em;
}

main{
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

div#gridContainer{
    font-family: 'Nunito Black', 'Nunito', sans-serif;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    width: 100%;
    max-width: 30em;
}

div.gridItem{
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353831;
    aspect-ratio: 1;
    width: 100%;
    border-radius: 10%;
}

div.gridItem.winning{
    box-shadow: #CDE7BE 0px 0px 0.2em;
}

div.gridItem > div{
    opacity: 0.3;
}

div.gridItem > div.chosen{
    opacity: 1;
}

.X{
    color: #D3E298;
}

.O{
    color: #ECDD7B;
}

div#scoreContainer{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 40em;
    gap: 2em;
}

div#scoreContainer > div{
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.5em;
    background-color: #353831;
    padding: 0.5em;
}

div.player-name{
    font-size: 1.2rem;
}

div.player-score{
    font-family: 'Nunino Black', 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

div#overlayDark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000007d;
}

.hidden{
    transform: scale(0) !important;
}

div.popup{
    font-size: 1.4rem;
    width: min(80%, 25ch);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #2D2D2A;
    padding: 1.5em 1em;
    border-radius: 1em;
}

div.popup > h3{
    margin: 0;
    margin-bottom: 0.5em;
}

div.popup button{
    display: block;
    margin: 0.7em auto 0em;
    width: 100%;
    background-color: #353831;
    color: #cde7bed4;
    border: none;
    font-size: 1.4rem;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
}